#start-button {
  width: 10rem;
  height: 3rem;
  font-size: 2rem;
  background-color: aqua;
}
#start-button:hover {
  background-color: rgb(0, 89, 255);
}
.correct,
.incorrect {
  width: 40rem;
  margin: 0.3rem;
  height: 3rem;
  font-size: 2rem;
  background-color: rgb(255, 100, 100);
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
.total {
  font-size: 2rem;
  color: red;
}
@media only screen and (max-width: 600px) {
  .correct,
  .incorrect {
    width: 80%;
    margin: 0.3rem;
    height: 3rem;
    font-size: 1rem;
    background-color: rgb(255, 100, 100);
  }
}
