* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.App {
  background-color: rgb(238, 238, 238);
  box-sizing: border-box;
  padding: 2% 0;
  margin: 0 20%;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .App {
    margin: 0 5%;
  }
}
